<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Battleship</title>
  <!-- +++++++++++++++++ CDN jQuery required by Bootstrap ++++
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> -->
  <script src="/js/jquery-1.11.2.js"></script>

  <!-- +++++++++++++++++ CDN Bootstrap CSS +++++++++++++ -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"> -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"> -->

  <!-- +++++++++++++++++ LOCAL Bootstrap CSS +++++++++++ -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">

  <!-- +++++++++++++++++ CDN jQuery CSS ++++++++++++++++ -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

  <!-- +++++++++++++++++ THE App's CSS +++++++++++++++++ -->
  <link rel="stylesheet" href="/css/main.css">

<script type="text/javascript" src="http://jqueryrotate.googlecode.com/svn/trunk/jQueryRotate.js"></script>

<!--   <script src="/js/jquery.ui.rotatable.js"></script>
  this is small and will allow you to override look/feel of handle
  <link rel="stylesheet" href="/css/jquery.ui.rotatable.css">
 -->
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <a class ="navbar-brand" href="javascript:void(0)">Team Pacific Fleet</a>

      <ul class = "nav navbar-nav navbar-right">
        <li><a href="/" target="new">Open A New Game</a></li>
        <li><a>|</a></li>
        <li><a href="/instructions" target="new">Game Instructions</a></li>
        <li><a>|</a></li>
        <li><a href="/about" target="new">About Us</a></li>
      </ul>
    </div>
  </nav>
<div class="row">
  <div class="col-xs-8 col-xs-offset-2 text-center">
    

  <!-- Christian added modal for getting player's name -->
  <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="false"  id="playerSignIn">
    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div class="modal-dialog modal-sm">
      <div class="modal-content">

        <div class="modal-body">
          <form action="" name="person">
            <label for="person">Enter your game name:</label>
            <input name="person" type="text" id="personsName" required placeholder="Your name..." autofocus>
            <button type="button" class="btn btn-primary btn-sm">Submit</button>
          </form>
        </div><!-- /.modal-body -->
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <h2 id="userName">Player Name</h2>
  <h2 id="shotPlayer"></h2>
  <!--Use these Bootstrap helper classes (text or background) for the game notifications
      class="text-muted"     text is grey
      class="text-primary"   text is blue
      class="text-success"   text is green
      class="text-info"      text is dark blue
      class="text-warning"   text is orange
      class="text-danger"    text is red

      class="bg-primary"     BG is dark blue, white text
      class="bg-success"     BG is mint green, white black
      class="bg-info"        BG is light blue, white black
      class="bg-warning"     BG is light yellow, white black
      class="bg-danger"      BG is red, white black
  -->

  <button id="readyToPlay" class="btn btn-success" value="Ready To Play">Ready To Play</button> 

  <!-- <div id="status-area"></div> -->

  <div class="gameboard">
    <span id="placeShipsWrapper">
      <h4>Place your ships by dragging them to the left grid.<br>Double click a ship to rotate it 90 degrees.</h4><br>
<!-- ****************************************************************************** -->
<!-- CHRISTIAN'S work on ship's bow is point of grid placement -->
      <span id="draggableAircraftCarrier" class="ui-widget-content draggableAircraftCarrier aircraftCarrier ship" >
        <img src="/images/wholeCarrier.png" alt="Drag your Aircraft Carrier to 'Your Ships' Grid">
      </span>

      <span id="draggableBattleship" class="ui-widget-content draggableBattleship battleship ship" >
        <img src="/images/wholeBattleship.png" alt="Drag your Battleship to 'Your Ships' Grid">
      </span>

      <span id="draggableDestroyer" class="ui-widget-content draggableDestroyer destroyer ship" >
        <img src="/images/wholeCruiser.png" alt="Drag your destroyer to 'Your Ships' Grid">
      </span>

      <span id="draggableSubmarine" class="ui-widget-content draggableSubmarine submarine ship" >
        <img src="/images/wholeSub.png" alt="Drag your submarine to 'Your Ships' Grid">
      </span>

      <span id="draggablePtBoat" class="ui-widget-content draggablePtBoat ptBoat ship" >
        <img src="/images/wholePatrol.png" alt="Drag your patrol boat to 'Your Ships' Grid">
      </span>

      <br><br><br>

<!-- ****************************************************************************** -->
    <!-- <div id="placeShips"> -->

<!--       <img src="/images/wholeCarrier.png"
           alt="Drag your Aircraft Carrier to Your Ships Board"
           id="draggableAircraftCarrier"
           class="ui-widget-content aircraftCarrier ship">
      
      <img src="/images/wholeBattleship.png"
           alt="Drag your Battleship to Your Ships Board"
           id="draggableBattleship"
           class="ui-widget-content battleship ship">
      
      <img src="/images/wholeCruiser.png"
           alt="Drag your Destroyer to Your Ships Board"
           id="draggableDestroyer"
           class="ui-widget-content destroyer ship">

      <img src="/images/wholeSub.png"
           alt="Drag your Submarine to Your Ships Board"
           id="draggableSubmarine"
           class="ui-widget-content submarine ship">
      
      <img src="/images/wholePatrol.png"
           alt="Drag your Patrol Boat to Your Ships Board"
           id="draggablePtBoat"
           class="ui-widget-content ptBoat ship"> -->

      <!-- <input id="readyToPlay" class="btn btn-success" type="submit" value="Ready To Play"> -->
      <!-- jQuery UI is overridding Bootstrap's styling -->
    <!-- </div>  END #placeShips -->
    </span> <!-- END #placeShipsWrapper -->

    <!-- <span class="ui-widget-header"> -->

  </div> <!-- end game board -->

  <div id="gameWrapper">
    <div id="playerBoard">
      <table class="headerTop">
        <tr><th colspan="11"><center>Your Ships</th></tr>
        <tr>
          <td data-id="header" class="colHead">1</td>
          <td data-id="header" class="colHead">2</td>
          <td data-id="header" class="colHead">3</td>
          <td data-id="header" class="colHead">4</td>
          <td data-id="header" class="colHead">5</td>
          <td data-id="header" class="colHead">6</td>
          <td data-id="header" class="colHead">7</td>
          <td data-id="header" class="colHead">8</td>
          <td data-id="header" class="colHead">9</td>
          <td data-id="header" class="colHead">10</td>
        </tr>
      </table>

      <table class="headerSide">
        <tr><td data-id="header" class="rowHead">a</td></tr>
        <tr><td data-id="header" class="rowHead">b</td></tr>
        <tr><td data-id="header" class="rowHead">c</td></tr>
        <tr><td data-id="header" class="rowHead">d</td></tr>
        <tr><td data-id="header" class="rowHead">e</td></tr>
        <tr><td data-id="header" class="rowHead">f</td></tr>
        <tr><td data-id="header" class="rowHead">g</td></tr>
        <tr><td data-id="header" class="rowHead">h</td></tr>
        <tr><td data-id="header" class="rowHead">i</td></tr>
        <tr><td data-id="header" class="rowHead">j</td></tr>
      </table>

      <table class="player" id="snaptarget">
        <tr>
          <td data-id="a1" id="a1" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="a2" id="a2" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="a3" id="a3" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="a4" id="a4" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="a5" id="a5" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="a6" id="a6" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="a7" id="a7" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="a8" id="a8" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="a9" id="a9" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="a10" id="a10" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
        </tr>
        <tr>
          <td data-id="b1" id="b1" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="b2" id="b2" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="b3" id="b3" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="b4" id="b4" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="b5" id="b5" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="b6" id="b6" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="b7" id="b7" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="b8" id="b8" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="b9" id="b9" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="b10" id="b10" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
        </tr>
        <tr>
          <td data-id="c1" id="c1" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="c2" id="c2" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="c3" id="c3" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="c4" id="c4" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="c5" id="c5" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="c6" id="c6" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="c7" id="c7" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="c8" id="c8" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="c9" id="c9" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="c10" id="c10" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
        </tr>
        <tr>
          <td data-id="d1" id="d1" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="d2" id="d2" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="d3" id="d3" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="d4" id="d4" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="d5" id="d5" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="d6" id="d6" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="d7" id="d7" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="d8" id="d8" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="d9" id="d9" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="d10" id="d10" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
        </tr>
        <tr>
          <td data-id="e1" id="e1" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="e2" id="e2" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="e3" id="e3" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="e4" id="e4" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="e5" id="e5" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="e6" id="e6" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="e7" id="e7" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="e8" id="e8" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="e9" id="e9" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="e10" id="e10" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
        </tr>
        <tr>
          <td data-id="f1" id="f1" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="f2" id="f2" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="f3" id="f3" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="f4" id="f4" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="f5" id="f5" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="f6" id="f6" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="f7" id="f7" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="f8" id="f8" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="f9" id="f9" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="f10" id="f10" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
        </tr>
        <tr>
          <td data-id="g1" id="g1" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="g2" id="g2" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="g3" id="g3" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="g4" id="g4" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="g5" id="g5" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="g6" id="g6" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="g7" id="g7" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="g8" id="g8" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="g9" id="g9" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="g10" id="g10" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
        </tr>
        <tr>
          <td data-id="h1" id="h1" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="h2" id="h2" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="h3" id="h3" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="h4" id="h4" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="h5" id="h5" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="h6" id="h6" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="h7" id="h7" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="h8" id="h8" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="h9" id="h9" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="h10" id="h10" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
        </tr>
        <tr>
          <td data-id="i1" id="i1" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="i2" id="i2" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="i3" id="i3" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="i4" id="i4" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="i5" id="i5" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="i6" id="i6" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="i7" id="i7" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="i8" id="i8" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="i9" id="i9" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="i10" id="i10" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
        </tr>
        <tr>
          <td data-id="j1" id="j1" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="j2" id="j2" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="j3" id="j3" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="j4" id="j4" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="j5" id="j5" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="j6" id="j6" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="j7" id="j7" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="j8" id="j8" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="j9" id="j9" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="j10" id="j10" class="droppable snapCell" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
        </tr>
      </table>
    </div>

    <div id="opponentBoard">
      <table class="headerTopOpponent">
        <tr><th colspan="11"><center>Opponent</th></tr>
        <tr>
          <td data-id="header" class="colHead">1</td>
          <td data-id="header" class="colHead">2</td>
          <td data-id="header" class="colHead">3</td>
          <td data-id="header" class="colHead">4</td>
          <td data-id="header" class="colHead">5</td>
          <td data-id="header" class="colHead">6</td>
          <td data-id="header" class="colHead">7</td>
          <td data-id="header" class="colHead">8</td>
          <td data-id="header" class="colHead">9</td>
          <td data-id="header" class="colHead">10</td>
        </tr>
      </table>

      <table class="headerSideOpponent">
        <tr><td data-id="header" class="rowHead">a</td></tr>
        <tr><td data-id="header" class="rowHead">b</td></tr>
        <tr><td data-id="header" class="rowHead">c</td></tr>
        <tr><td data-id="header" class="rowHead">d</td></tr>
        <tr><td data-id="header" class="rowHead">e</td></tr>
        <tr><td data-id="header" class="rowHead">f</td></tr>
        <tr><td data-id="header" class="rowHead">g</td></tr>
        <tr><td data-id="header" class="rowHead">h</td></tr>
        <tr><td data-id="header" class="rowHead">i</td></tr>
        <tr><td data-id="header" class="rowHead">j</td></tr>
      </table>

      <table class="opponent">
        <tr>
          <td data-id="a1" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="a2" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="a3" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="a4" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="a5" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="a6" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="a7" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="a8" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="a9" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="a10" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
        </tr>
        <tr>
          <td data-id="b1" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="b2" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="b3" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="b4" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="b5" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="b6" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="b7" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="b8" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="b9" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="b10" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
        </tr>
        <tr>
          <td data-id="c1" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="c2" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="c3" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="c4" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="c5" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="c6" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="c7" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="c8" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="c9" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="c10" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
        </tr>
        <tr>
          <td data-id="d1" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="d2" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="d3" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="d4" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="d5" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="d6" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="d7" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="d8" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="d9" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="d10" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
        </tr>
        <tr>
          <td data-id="e1" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="e2" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="e3" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="e4" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="e5" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="e6" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="e7" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="e8" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="e9" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="e10" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
        </tr>
        <tr>
          <td data-id="f1" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="f2" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="f3" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="f4" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="f5" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="f6" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="f7" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="f8" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="f9" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="f10" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
        </tr>
        <tr>
          <td data-id="g1" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="g2" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="g3" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="g4" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="g5" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="g6" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="g7" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="g8" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="g9" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="g10" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
        </tr>
        <tr>
          <td data-id="h1" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="h2" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="h3" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="h4" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="h5" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="h6" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="h7" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="h8" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="h9" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="h10" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
        </tr>
        <tr>
          <td data-id="i1" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="i2" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="i3" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="i4" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="i5" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="i6" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="i7" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="i8" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="i9" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="i10" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
        </tr>
        <tr>
          <td data-id="j1" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="j2" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="j3" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="j4" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="j5" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="j6" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="j7" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="j8" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="j9" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
          <td data-id="j10" data-state="unselected">
            <img class="hit hide" src="/images/explosion.png" height="24px" width="24px">
            <img class="miss hide" src="/images/miss.png" height="24px" width="24px">
          </td>
        </tr>
      </table>
    </div>
  </div>

    </div>
</div>

  <!-- ++++++++++ CDN Bootstrap JavaScript   -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

  <!-- ++++++++++ LOCAL Bootstrap JS +++++++ -->
  <script src="js/bootstrap.min.js"></script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- ++++++++++ CDN Socket IO ++++++++++++ -->
  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>

  <!-- ++++++++++ CDN jQuery.js ++++++++++++ -->
  <!-- <script src="//code.jquery.com/jquery-1.10.2.js"></script> -->
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  <!-- ++++++++++ LOCAL client side .js ++++ -->
  <script src="/js/index.js"></script>
  
  </body>
  </html>
