HTML*/

body {
  font-family: arial, sans-serif;
}

td {
  width: 25px;
  height: 25px;
  color: white;
  background: gray;
  text-align: center;
  /* only right and bottom so as not to double up on the borders per table cell */
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

table {
  margin: 5px;
}

table td { /* only right and bottom so as not to double up on the borders per table cell */
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

#readyToPlay {
  position: relative;
  left: 520px;
}

.colHead {
  text-align: center;
}

.rowHead {
  text-align: center;
}

/*Classes*/
.gameboard, .noColor {
  background: lightblue;
  text-align: middle;
  position-align: center;

}

.player, .opponent, .dashboard {
  display: inline-block;
}

.dashboard {
  /*background: blue;*/
  width: 400px;
  height: 500px;
  margin: 3px;
  /*color: white;  color of the hits / misses */
}

.dashboard span {
  margin-left: 9px;
  position: relative;
  top: 3px;
}

.aircraftCarrier,
.battleship,
.destroyer,
.submarine,
.ptBoat,
.dashboardTitle {
  position: absolute;
}

.dashboardTitle {
  position: absolute;
  background: cyan;
  border-width: 3px;
  border-color: black;
  text-align: center;
  /*width: 150;*/
  margin-left: 50px;
  color: black;
}

/* These left: settings on the ships are for the starting location of the ships to look nice in a row prior to placing them on the board */
.aircraftCarrier { left: 240px; top: 8px; }
.battleship { left: 370px; top: 8px; }
.destroyer { left: 475px; top: 8px; }
.submarine { left: 555px; top: 8px; }
.ptBoat { left: 635px; top: 8px; }

.hit {
  /*color: red;*/
}

.notHit {
  /*color: white;*/
}

.noLIDisk {
  list-style-type: none;
  list-style-position: outside;
  position: relative;
  left: -5px;
}

.snaptarget {
  width: 250px;
  height: 250px;
}

.gameboard h4 {
  display: inline;
}

#placeShips {
  padding: 8px 8px;
  border: 1px solid black;
  width: 700px;
  position: relative;
}

#placeShips h4 {
  display: inline;
}

#stats {
  margin-top: 15px;
  padding: 4px 8px;
  border: 1px solid black;
  width: 234px;
}

#stats h4 {
  display: inline;
}

/*IDs
