/*HTML*/

body {
  font-family: arial, sans-serif;
}

/*  jQuery API doc for draggable
    https://jqueryui.com/draggable/#snap-to */
#snaptarget {  
  width: 250px;
  height: 250px;
}

td {
  width: 25px;
  height: 25px;
  color: white;
  background: gray;
  text-align: center;
}

table {
  margin: 5px;
}

table td {
  border: 1px solid black;
}

.colHead {
  text-align: center;
}

.rowHead {
  text-align: center;
}

/*Classes*/
.gameboard, .noColor {
  background: lightblue;
  text-align: middle;
  position-align: center;

}

.player, .opponent, .dashboard {
  display: inline-block;
}

.dashboard {
  background: blue;
  width: 150px;
  height: 300px;
  margin: 10px;
  color: white; /* color of the hits / misses */
}

.dashboard span {
  margin-left: 9px;
  position: relative;
  top: 3px;
}

.aircraftCarrier,
.battleship,
.destroyer,
.submarine,
.ptBoat,
.dashboardTitle {
  height: 25px;
  margin: 5px;
  background: green;
}

.dashboardTitle {
  position: absolute;
  background: cyan;
  border-width: 3px;
  border-color: black;
  text-align: center;
  /*width: 150;*/
  margin-left: 50px;
  color: black;
}

.aircraftCarrier {
  margin-top: 35px;
  width: 124px;
}

.battleship {
  width: 99px;
}

.destroyer, 
.submarine {
  width: 74px;
}

.ptBoat {
  width: 49px;  
}

.hit {
  color: red;

}

.notHit {
  color: white;
  
}


/*IDs*/